

.work-sans-regular {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.heden{
    display:none;
}
.header{
    background-image: url('img/developer.png'), url('img/header_bg.png');
    background-repeat: no-repeat;
    background-position: left, right bottom;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    padding: 20px 0;
    align-items: center;
}
/* sherd  */
.btn-primari{
    color: white;
    background-color: #FD6E0A;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
}
.title{
    font-size: 38px;
    text-align: center;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
    display: block;
}
.sd-color{
    background-color: #FFF8F3;
}
.dark1{
    color: #181818;
}
.dark2{
    color: #474747;
}
.dark3{
    color: #757575;
}

.btn-banner{
    color: #FD6E0A;
    background-color: #fd6f0a00;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
   border: solid 1px #FD6E0A;
   margin-left: 20px;
}
nav h2{
    font-size: 45px;
    font-weight:800;
    
}

#nav-span{
    color: #FD6E0A;
    font-size: 20px;
    font-weight:600;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    font-size: 16px;
    color: #474747;
}
.bannar{
    display: flex;
    margin: 0 38px 0 250px;
    justify-content: space-between;
    background-repeat: no-repeat;
    align-items: center;
}
.bannar-text-box{
    width: 585px;
    height: 335px;
}

.bannar-agracing{
    font-weight:600;
    font-size: 45px;
    color:#474747;
}
.bannar-titel{
    font-weight: bold;
    font-size: 85px;
    margin: -10px 0;
    color: #181818;
}
.bannar-dic{
    font-size: 18px;
    color: #757575;
}
.bannar-img{
    width: 584px;
    height: 676px;
}
.main{
   
}
.aboute-section{

    padding: 131px 156px;
    width: 1140px;
    margin: 230px auto;
}
.about-area{
    width: 827px;
    height: 288px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    border: 1px solid black;
}
.aboute-info{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

/* whaat i do start */
.whaat-i-do{
    width: 1140px;
    text-align: center;
    margin: 0 auto;
}
.skill-parent{
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.skil{
    padding: 20px;
    box-shadow: 0 6px 50px 0 #00000011;
     text-align: left;
}

/* A summary of My Resume */

.A-summary-of-My-Resume{
    width: 1140px;
    margin: 0 auto;
}
.A-summary-of-My-Resume h2{
   
    margin: 100px 0 50px 0;
}
.resume-box{
    display: flex;
    gap: 20px;
    margin: 20px 0 ;
}
.resume-box h3, span{
    font-size: 25px;
    color: #474747;
}
.resume-box h6, p{
    color: #757575;
   
}

/* footer start */

footer{
    padding: 100px 230px 130px 360px;
    display: flex;
    gap: 100px;
    margin-top: 120px;
}


.footer-link h2{
    font-size: 15px;
    font-weight: bold;
    color: #181818;
}
.contact-us h2{
    font-size: 15px;
    font-weight: bold;
    color: #181818;
}
form input[type="text"], form input[type="email"] ,textarea{
    width: 100%;
    padding: 20px 10px;
    margin: 10px 0;
    border: none;
    background-color: white;
}

@media screen and (max-width:777px) {
        .btn-primari{
            display: inline-block;
            color: white;
            background-color: #FD6E0A;
            padding: 10px 15px;
            border-radius: 5px;
            border: none;
        }
        .title{
            font-size: 18px;
            text-align: center;
            font-weight: bold;
            color: #181818;
            margin-bottom: 10px;
            display: block;
        }
    
        nav{
            margin: 0;
        }
        nav h2{
            font-size: 19px;
        }
        #nav-span{
            color: #FD6E0A;
            font-size: 20px;
            font-weight:600;
        }
        nav ul{
            display: flex;
            align-items: center;
        }
        nav ul li{
            list-style: none;
            
        }
        nav li a{
            text-decoration: none;
            font-size: 16px;
            color: #474747;
        }
        .header{
            background-image: none;
            padding-left: 20px;
        }
        .bannar{
            display: flex;
            flex-direction: column;       
            margin: 0;
            align-items: start;
        }
        .bannar-text-box{
            width: 385px;
            height: auto;
        }
        
        .bannar-agracing{
            font-weight:600;
            font-size: 25px;
            color:#474747;
        }
        .bannar-titel{
            font-weight: bold;
            font-size: 35px;
            color: #181818;
        }
        .bannar-dic{
            font-size: 18px;
            color: #757575;
        }
        .bannar-img{
            width: 384px;
            height: auto;
        }
}

@media screen and (min-width:777px) and (max-width:9992) {
    .btn-primari{
        display: inline-block;
        color: white;
        background-color: #FD6E0A;
        padding: 10px 15px;
        border-radius: 5px;
        border: none;
    }
    .title{
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        color: #181818;
        margin-bottom: 10px;
        display: block;
    }

    nav{
        margin: 0;
    }
    nav h2{
        font-size: 19px;
    }
    #nav-span{
        color: #FD6E0A;
        font-size: 20px;
        font-weight:600;
    }
    nav ul{
        display: flex;
        align-items: center;
    }
    nav ul li{
        list-style: none;
        
    }
    nav li a{
        text-decoration: none;
        font-size: 16px;
        color: #474747;
    }
    .header{
        background-image: none;
        padding-left: 20px;
    }
    .bannar{
        display: flex;
        flex-direction: column;       
        margin: 0;
        align-items: start;
    }
    .bannar-text-box{
        width: 385px;
        height: auto;
    }
    
    .bannar-agracing{
        font-weight:600;
        font-size: 25px;
        color:#474747;
    }
    .bannar-titel{
        font-weight: bold;
        font-size: 35px;
        color: #181818;
    }
    .bannar-dic{
        font-size: 18px;
        color: #757575;
    }
    .bannar-img{
        width: 384px;
        height: auto;
    }
}

